@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,500,700);

/*=========Base CSS==========*/

html {
	width: 100%;
	min-height: 100%;
	position: relative;
}
header {
	height: 90px;
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}
body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", "Lucida Grande", sans-serif;
	line-height: 1.5;
	min-width: 680px;
}
body a:hover {
	text-decoration: none;
}
body a:active, body a:focus {
	text-decoration: none;
	color: #fff;
	outline: none;
}
.containerx {
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.logo{
	max-width: 140px;
	height: auto;
}
div h1 {
	margin: 0;
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	display: inline-block;
	font-weight: 400;
	color: #404041;
	font-size: 45px;
	vertical-align: middle;
}
div h2 {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	color: #404041;
	font-weight: 600;
	text-transform: uppercase;
}
div h3, div h4 {
	color: #3fae2a;
	font-size: 18px;
	font-weight: bold;
}
div h4 {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #404041;
	font-size: 22px;
	margin-top: 100px;
	margin-bottom: 0;
	transition: .5s cubic-bezier(0, 1, 0.5, 1);
  	transform: translateY(0);
}
div h5 {
	text-transform: uppercase;
    font-family: "Roboto Condensed", Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 12px;
    padding-top: 10px;
    font-size: 26px;
    font-weight: bold;
}
div p {
	color: #404041;
	font-size: 18px;
	line-height: 20px;
    font-weight: 300;
    margin-bottom: 15px;
}
div strong {
	font-weight: 400;
}
div a, div a:visited, div a:focus, div a:active, div a:hover, p.ip {
	color: #1fa4d4;
}
p.ip {
	cursor: pointer;
}
.bottom-note {
	margin-top: 35px;
}
.note {
	font-size: 13px;
	line-height: 15px;
	color: #404041;
}
.note span {
	margin-bottom: 15px;
}
div h2 img { 
	max-width: 90px;
}
.scoot-top {
	padding-top: 13px;
}
.scoot-top img {
	margin: 0px 10px;
}
.get-support {
	margin-top: 10px;
	float: right;
}
div a.button-default, div a.button-default:focus {
	border: 1px solid #3fae2a;
	color: #3fae2a;
	font-size: 13px;
	padding: 10px 20px;
	border-radius: 2px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.button-default:hover, .button-default:active {
	text-decoration: none;
	background: #3b8740;
    border-color: #3b8740;
    color: white;
}
div a.button-filled, div a.button-filled:focus {
	background-color: #3fae2a;
	color: #fff;
}
.sandbox-logo, .wrapper {
	margin: 35px 0 20px;
	overflow: auto;
}
.sandbox-logo img {
	max-width: 200px;
	margin-left: 38px;
}
.sandbox-logo h1 {
	margin-left: 10px;
	color: #476b7c;
}
.logo-splash2 {
	max-width: 100px;
	vertical-align: bottom;
}
.col-two {
	width: 50%;
	position: relative;
	float: left;
}
.col-three {
	width: 33%;
	position: relative;
	float: left;
	overflow: hidden;
}
.containerx .col-two {
	margin: 25px 0;
}
.border-right {
	border-right: 1px solid #ddd;
}
.containerx .col-three {
	border: 1px solid #ddd;
	height: 225px;
}
.containerx .wrapper .col-three {
	background-color: #fff;
}
.scoot-top div {
	display: inline-block;
}
.col-two img {
	max-width: 131px;
	max-height: 149px;
}
.gear-icon {
	max-height: 115px;
	margin-right: 15px;
}
.col-two p {
	margin-bottom: 35px;
}
.col-three > div > {
	padding: 10px 25px;
}
.rollover {
	overflow-y: hidden;
	max-height: 500px; 
	display: none;
	margin-top: 15px;
}
table {
	text-align: middle;
	margin: 0 auto;
	margin-top: -15px;
	margin-bottom: 5px;
}
table td {
	text-align: left;
	padding: 0px 10px;
}
#content-body{
	display: block;
	background-color: #eee;
	padding: 1% 3%;
	width: 520px;
	margin: 35px auto;
}
.the-iframe{
	overflow-y: hidden;
	border: none;
	width: 100%;
	height: 385px;
	font-size: 125%;
	color: #555;
}
p#subtext {
	border-bottom: 2px solid #cccccc;
	margin-bottom: 25px;
	padding-bottom: 30px;
	line-height: 22px;
    font-size: 16px;
}

.dashboard .enable-popup { display: none; }
.dashboard:hover .launch { display: none; }
.dashboard:hover .enable-popup { display: inline; }

/*=========Responsive==========*/
@media only screen and (max-width: 1050px) {
	.col-two {
		width: 100%;
	}
	.col-three {
		width: 50%;
	}
	.border-right {
	    border-right: 0px solid transparent;
	}
	h4 {  
		font-size: 18px;
	}
	p.note { 
		margin-bottom: 2px; 
	}
	.rollover div a { 
		font-size: 13px;
	}
	.col-three > div {
		padding: 6px 0;
	}
}
@media only screen and (max-width: 650px) {
	.col-three {
		width: 100%;
	}
}
